* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;

  background-color: #FFF7ED;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 10px;
}

img {
  display: block;
  width: 100%;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: .75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

/* NAVBAR */
.nav--logo {
  margin-right: auto;
}

.nav--logo > img {
  max-width: 150px;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 0px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
}

header a.active {
  color: #161616;
  text-decoration: underline;
}

/* HOME */

.home--container {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.46) 100%), 
    url("./assets/images/home-page-hero.png"), lightgray 0px -65.191px / 100% 178.109% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  color: #fff;
  padding: 70px 30px;
  min-height: 450px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home--header {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 42px;
}

.home--subtext {
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.home--container a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  background-color: #FF8C38;
  border: none;
  width: 100%;
  margin-top: 60px;
  padding-block: .75rem;
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform .1s ease-in-out;
}

.home--container a:hover {
  transform: translate(1px, 1px);
}


/* ABOUT */
.about--img {
  max-width: 100%;
}

.about--content {
  padding-inline: 25px;
  color: #161616;
  margin-bottom: 55px;
}

.about--content > h1 {
  line-height: 40px;
}

.about--content > p {
  line-height: 25px;
}

.about--sub-container {
  background-color: #FFCC8D;
  color: #161616;
  border-radius: 5px;

  padding: 55px 30px;
  margin: 30px;
}

.about--sub-container > h2 {
  margin: 0;
  padding-bottom: 40px;
}

.about--sub-container > .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
}

/* VANS */

.vans--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 35px;
  padding: 60px 30px;
}

.vans--filter-header {
  padding-left: 30px;
}

/* VAN */
.van--link {
  text-decoration: none;
}

.van--img {
  max-width: 100%;
  border-radius: 5px;
  object-fit: contain;
}

.van--info {
  display: flex;
}

.van--name {
  color: #161616;
  font-size: 1.2rem;
  margin-right: auto;
}

.van--price {
  color: #161616;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 600;
}

.van--price > span {
  color: #161616;
  text-align: right;
  font-family: Avenir Next;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
}

.van--type {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 50%;
  margin: 0;
  padding-top: 0;

  color: #FFEAD0;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}



